<div class="card p-3 mb-3">
  <h3 class="text-center font-monospace">Product</h3>
  <div class="row">
    <div class="col-8">
      <table class="table mt-1">
        <thead>
          <tr>
            <th>Product code</th>
            <th>Product name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Material</th>
            <th>Sole</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ product.productCode }}</td>
            <td>{{ product.productName }}</td>
            <td>{{ product.brandName }}</td>
            <td>{{ product.categoryName }}</td>
            <td>{{ product.materialName }}</td>
            <td>{{ product.soleName }}</td>
            <td>{{ product.quantity | thousandSeparator }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <form class="mt-4 row">
        <div class="form-group col-6">
          <label for="">Color:</label>
          <ng-select
            [items]="colors"
            bindLabel="colorName"
            bindValue="id"
            class="form-control"
            [(ngModel)]="selectedColors"
            name="idColor"
            [multiple]="true"
            [closeOnSelect]="false"
            [hideSelected]="true"
            (change)="generateProduct()"
          >
          </ng-select>
        </div>
        <div class="form-group col-6">
          <label for="">Size:</label>
          <ng-select
            [items]="sizes"
            bindLabel="sizeName"
            bindValue="id"
            class="form-control"
            [(ngModel)]="selectedSizes"
            name="idSize"
            [multiple]="true"
            [closeOnSelect]="false"
            [hideSelected]="true"
            (change)="generateProduct()"
          >
          </ng-select>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="showTable" class="card p-3 mb-3">
  <table class="table mt-2">
    <thead>
      <tr>
        <th>#</th>
        <th>Product</th>
        <th class="small-column">Weight</th>
        <th class="small-column">Price</th>
        <th class="small-column">Quantity</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productDetailsGenerate; index as i">
        <td>{{ i + 1 }}</td>
        <td>
          {{ product.productName }} ( {{ product.colorName }} -
          {{ product.sizeName }} )
        </td>
        <td style="width: 100px">
          <input
            type="number"
            class="form-control"
            [(ngModel)]="product.weight"
          />
        </td>
        <td style="width: 180px">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="product.price"
            appThousandSeparator
          />
        </td>
        <td style="width: 150px">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="product.quantity"
            appThousandSeparator
          />
        </td>
        <td>
          <button class="btn btn-outline-dark" (click)="remove(i)">
            <iconify-icon icon="material-symbols:delete"></iconify-icon> Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="col-12">
    <button
      class="btn btn-outline-success float-end me-5"
      (click)="createProductDetails()"
    >
      <iconify-icon icon="weui:done2-filled"></iconify-icon> Done
    </button>
  </div>
</div>

<div class="card p-3 mb-0">
  <div class="col-12">
    <h3 class="text-center font-monospace">List product</h3>
    <button
        class="btn btn-outline-dark float-end me-5"
        [disabled]="!isAnyRowSelected"
        (click)="downloadSelectedQR()"
      >
        <iconify-icon icon="bi:qr-code"></iconify-icon> Export QR
      </button>
      <button
      class="btn btn-outline-info float-end me-3"
      [disabled]="!isAnyRowSelected"
      (click)="updateProductDetails()"
    >
      <iconify-icon icon="dashicons:update"></iconify-icon> Update
    </button>
  </div>
  <table class="table mt-2">
    <thead>
      <tr>
        <th>
          <input
            type="checkbox"
            #selectAllCheckbox
            (change)="selectAll($event)"
            class="btn"
          />
        </th>
        <th>#</th>
        <th>Product</th>
        <th>Weight</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productDetails; index as i">
        <td>
          <input
            type="checkbox"
            [(ngModel)]="product.selected"
            (change)="onSelectRow($event, product.id)"
            class="btn"
          />
        </td>
        <td>{{ i + 1 }}</td>
        <td>
          {{ product.productName }} ( {{ product.colorName }} -
          {{ product.sizeName }} )
        </td>
        <td style="width: 100px">
          <input
            type="number"
            class="form-control"
            [(ngModel)]="product.weight"
            step="0.1"
            [readOnly]="!product.selected"
          />
        </td>
        <td style="width: 180px">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="product.price"
            [readOnly]="!product.selected"
            appThousandSeparator
          />
        </td>
        <td style="width: 150px">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="product.quantity"
            [readOnly]="!product.selected"
            appThousandSeparator
          />
        </td>
        <td>
          <button
            class="btn btn-outline-dark ms-2"
            (click)="delete(product.id)"
            [disabled]="!role"
          >
            <iconify-icon icon="material-symbols:delete"></iconify-icon> Delete
          </button>
          <div id="qr-code-{{ i }}" style="display: none;">
            <qrcode #qrcodeElement [qrdata]="product.id | json" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
