<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <a href="./index.html" class="text-nowrap logo-img nav-link">
        <img src="https://freesvg.org/img/1517505968.png" height="35px" alt="logo" />
        <span><img src="https://www.logolynx.com/images/logolynx/75/756f3029299c70d375f33d6f7ec855f2.png" height="35px" alt="store"/></span>
      </a>
      <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
        <i class="ti ti-x fs-8"></i>
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <li class="nav-small-cap">
          <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
          <span class="hide-menu">HOME</span>
        </li>
        <li class="sidebar-item">
          <a id="dashboard" class="sidebar-link" routerLink="dashboard" aria-expanded="false" href="">
            <iconify-icon icon="vaadin:dashboard"></iconify-icon>
            <span class="hide-menu">Dashboard</span>
          </a>
        </li>
        <li>
          <span class="sidebar-divider lg"></span>
        </li>
        <li class="nav-small-cap">
          <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
          <span class="hide-menu">TRANSACTION</span>
        </li>
        <li class="sidebar-item">
          <a id="orders" class="sidebar-link" routerLink="orders" aria-expanded="false" href="">
            <iconify-icon icon="raphael:cart"></iconify-icon>
            <span class="hide-menu">Create Orders</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="" aria-expanded="false" href="">
            <iconify-icon icon="uil:bill"></iconify-icon>
            <span class="hide-menu">List Orders</span>
          </a>
        </li>
        <li>
          <span class="sidebar-divider lg"></span>
        </li>
        <li class="nav-small-cap">
          <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
          <span class="hide-menu">PRODUCT</span>
        </li>
        <li class="sidebar-item">
          <a id="products" class="sidebar-link" routerLink="products" aria-expanded="false" href="">
            <iconify-icon icon="emojione-monotone:mans-shoe"></iconify-icon>
            <span class="hide-menu">Product</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="" aria-expanded="false" href="">
            <iconify-icon icon="tabler:brand-databricks"></iconify-icon>
            <span class="hide-menu">Brand</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="" aria-expanded="false" href="">
            <iconify-icon icon="tabler:category-2"></iconify-icon>
            <span class="hide-menu">Category</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="materials" aria-expanded="false" href="">
            <iconify-icon icon="academicons:open-materials"></iconify-icon>
            <span class="hide-menu">Material</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="" aria-expanded="false" href="">
            <iconify-icon icon="fa-solid:shoe-prints"></iconify-icon>
            <span class="hide-menu">Sole</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="" aria-expanded="false" href="">
            <iconify-icon icon="mdi:color"></iconify-icon>
            <span class="hide-menu">Color</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="" aria-expanded="false" href="">
            <iconify-icon icon="gg:size"></iconify-icon>
            <span class="hide-menu">Size</span>
          </a>
        </li>
        <li>
          <span class="sidebar-divider lg"></span>
        </li>
        <li class="nav-small-cap">
          <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
          <span class="hide-menu">USER</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="" aria-expanded="false" href="">
            <iconify-icon icon="clarity:employee-group-solid"></iconify-icon>
            <span class="hide-menu">Employee</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="" aria-expanded="false" href="">
            <iconify-icon icon="raphael:users"></iconify-icon>
            <span class="hide-menu">Customer</span>
          </a>
        </li>
        <li>
          <span class="sidebar-divider lg"></span>
        </li>
        <li class="nav-small-cap">
          <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
          <span class="hide-menu">PROMOTIONAL</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="" aria-expanded="false" href="">
            <iconify-icon icon="hugeicons:sale-tag-01"></iconify-icon>
            <span class="hide-menu">Sale</span>
          </a>
          <a class="sidebar-link" routerLink="" aria-expanded="false" href="">
            <iconify-icon icon="solar:ticket-sale-bold-duotone"></iconify-icon>
            <span class="hide-menu">Coupons</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
