
    <div class="container">

        <h1 class="text-center">CUSTOMER INFORMATION</h1>
        <div class="card border">
            <div class="card-body">
                <form >
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="customerCode">Customer Code</label><input id="customerCode"  type="text" class="form-control" [(ngModel)]="customer.customerCode " name="customerCode" />
                            </div>
                            <div class="form-group">
                                <label for="fullName">Full Name</label><input id="fullName" type="text" class="form-control" [(ngModel)]="customer.fullName" name="password"/>
                            </div> 
                            <div class="form-group">
                                <label for="gender">Gender</label><input id="gender"  type="text" class="form-control" [(ngModel)]="customer.gender" name="gender" />
                            </div>
                            <div class="form-group">
                                <label for="lastName">PhoneNumber</label><input id="phoneNumber"  type="text" class="form-control" [(ngModel)]="customer.phoneNumber" name="lastName" />
                            </div>
                        </div>                      
                        <div class="col-6">

                            <div class="form-group">
                                <label for="address">Adress</label><input id="address"  type="text" class="form-control" [(ngModel)]="customer.address" name="address" />
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label><input id="email"  type="text" class="form-control" [(ngModel)]="customer.email" name="email" />
                            </div>
                            <div class="form-group">
                                <label for="address">Password</label><input id="password"  type="text" class="form-control" [(ngModel)]="customer.password" name="password" />
                            </div>
                            <div class="form-group">
                                <label for="accumulatedPoints">AccumulatedPoints</label><input id="accumulatedPoints"  type="text" class="form-control" [(ngModel)]="customer.accumulatedPoints" name="accumulatedPoints" />
                            </div>
                        </div>
                    </div>
                    <button  class="btn btn-outline-success" >
                        <iconify-icon icon="gg:add-r"></iconify-icon> Create
                      </button>
                      <button  class="btn btn-outline-primary ms-3" >
                        <iconify-icon icon="dashicons:update-alt"></iconify-icon> Update
                      </button>
                      <button class="btn btn-outline-danger ms-3" (click)="resetForm()">
                        <iconify-icon icon="tdesign:clear-formatting-1"></iconify-icon> Clear
                      </button>
                </form>
            </div>
        </div>

        <h1 class="text-center">List Customer</h1>

        <div class="card border">
            <div class="card-body">

                <table class="table table-striped table-bordered">
                    <tr>
                        <th class="custom-th, text-center">Index</th>
                        <th class="custom-th, text-center">Customer Code</th>
                        <th class="custom-th, text-center">Full Name</th>
                        <th class="custom-th, text-center">PhoneNumber</th>
                        <th class="custom-th, text-center">Email</th>
                        <th class="custom-th, text-center">Action</th>
                    </tr>
                    <tr *ngFor="let c of customers; index as i" class="text-center">
                        <td>{{i+1}}</td>
                        <td>{{c.customerCode}}</td>
                        <td>{{c.fullName}}</td>
                        <td>{{c.phoneNumber}}</td>
                        <td>{{c.email}}</td>
                        <td>
                            <button class="btn btn-info">Update</button>
                            <button class="btn btn-danger" >Delete</button>
                        </td>
                    </tr>
                    
                </table>

            </div>
        </div>

    </div>
